{% extends 'base/base.html' %}
{% load staticfiles %}
{% block page_content %}

<div class="col-xl-12 col-md-2 mb-2">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Diesel</h6>
    </div>
    <div class="card-body">
      <h4 class="small font-weight-bold">Planta = {{PorcentajeDieselPlanta}}%<span
              class="float-right">{{SumaDescargasPlanta}} de {{CargaDieselPlanta}} Litros</span></h4>
      <div class="progress mb-4">
          <div class="progress-bar bg-{{ColorDieselPlanta}}" role="progressbar" style="width: {{PorcentajeDieselPlanta}}%"
              aria-valuenow="{{PorcentajeDieselPlanta}}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h4 class="small font-weight-bold">Patio = {{PorcentajeDieselPatio}}%<span
              class="float-right">{{SumaDescargasPatio}} de {{CargaDieselPatio}} Litros</span></h4>
      <div class="progress mb-4">
          <div class="progress-bar bg-{{ColorDieselPatio}}" role="progressbar" style="width: {{PorcentajeDieselPatio}}%"
              aria-valuenow="{{PorcentajeDieselPatio}}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h4 class="small font-weight-bold">Banco = {{PorcentajeDieselBanco}}%<span
              class="float-right">{{SumaDescargasBanco}} de {{CargaDieselBanco}} Litros</span></h4>
      <div class="progress">
          <div class="progress-bar bg-{{ColorDieselBanco}}" role="progressbar" style="width: {{PorcentajeDieselBanco}}%"
              aria-valuenow="{{PorcentajeDieselBanco}}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
  </div>
</div>
<div class="col-xl-12 col-md-2 mb-2">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Accesos Rapidos</h6>
    </div>
    <div class="card-body">
      <a href="{% url 'inv:pedido_list_f' %}" onclick="antidoble()" class="btn btn-success"></span>Compras</a>
    </div>
    </div>
</div>
<div class="col-xl-12 col-md-2 mb-2">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Compras</h6>
    </div>
    <div class="card-body">
      <canvas id="myChart"></canvas>
      <h6 class="m-0 font-weight-bold {{diascolor}}" align="center">Distribución de los ultimos 31 dias.</h6>
    </div>
    </div>
</div>
<div class="col-xl-12 col-md-2 mb-2">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Indicadores de Diesel:</h6>
    </div>
    <div class="card-body">
      <h6 class="m-0 font-weight-bold text-primary" align="left">Metodo</h6>
      Proximamente
      <br><br>
      <h6 class="m-0 font-weight-bold text-primary" align="left">Desviación (Sesgo)</h6>
      Proximamente
      <br>
    </div>
  </div>
    <div class="col-xl-12 col-md-2 mb-2">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Musica:</h6>
        </div>
        <div class="card-body">
          <audio src="{% static  'base/img/cancion.flac' %}" preload="none" controls ></audio>
        </div>
        </div>
    </div>
    </div><div class="col-xl-12 col-md-2 mb-2">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Estados de Pëdidos:</h6>
    </div>
    <div class="card-body">
      <h6 class="m-0 font-weight-bold text-primary" align="left">Acerca de los estados "compras" en los pedidos</h6>
      Cada pedido maneja tres tipos de estados simultáneos.<br><br>
      <h6 class="m-0 font-weight-bold text-dark" align="left">El estado "Compras" es la 8a columna de tu ventana de pedidos, es el que vamos a referirnos aquí:</h6>
<br>
      <h6 class="m-0 font-weight-bold text-primary" align="left">X-Revisar</h6>
      El pedido fue recibido y está en proceso de cotizar.<br>
      <br>
      <h6 class="m-0 font-weight-bold text-primary" align="left">S-Cancela</h6>
      El mismo usuario que solicitó el pedido, lo canceló.<br>
      "Compras" ya no dará seguimiento a los pedidos que son cancelados por el usuario.<br>
      Después de levantar un pedido, el usuario solicitante tiene unos minutos para cancelar.<br>
      Es para uso en errores o correcciones.<br>
      <br>
      <h6 class="m-0 font-weight-bold text-primary" align="left">Revisado</h6>
      El pedido se encuentra a la espera de que un Gerente o autorizador revise y apruebe la compra.<br>
      <br>
      <h6 class="m-0 font-weight-bold text-primary" align="left">Pendiente</h6>
      El pedido está en la espera de que "Compras" formalice la solicitud con el proveedor.<br>
      <br>
      <h6 class="m-0 font-weight-bold text-primary" align="left">X asignar OC</h6>
      La solicitud con el proveedor falló y "Compras" está buscando una alternativa.<br>
      <br>
      <h6 class="m-0 font-weight-bold text-primary" align="left">en Proveedor</h6>
      El pedido está por recibirse. El tiempo depende de los acuerdos, tiempos y formas de entrega que se tenga con el proveedor.<br>
      <br>
      <h6 class="m-0 font-weight-bold text-primary" align="left">Directo</h6>
      El pedido directo son casos únicos que por el monto mínimo, falta de proveedor, o la situación, se realizaron fuera del proceso normal.<br>
      <br>
      <h6 class="m-0 font-weight-bold text-primary" align="left">Stock</h6>
      Lo solicitado en el pedido. Ya se encontraba en el almacén.<br>
      <br>
      <h6 class="m-0 font-weight-bold text-primary" align="left">Rechazo</h6>
      El pedido no fue autorizado para su compra.
    </div>
    </div>
</div>


<!-- termina lo visiual -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const labels = [
    '-31',
    '-30',
    '-29',
    '-28',
    '-27',
    '-26',
    '-25',
    '-24',
    '-23',
    '-22',
    '-21',
    '-20',
    '-19',
    '-18',
    '-17',
    '-16',
    '-15',
    '-14',
    '-13',
    '-12',
    '-11',
    '-10',
    '-9',
    '-8',
    '-7',
    '-6',
    '-5',
    '-4',
    'anteantier',
    'antier',
    'ayer',
    'hoy',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'X-Revisar',
      data: {{diaxr|safe}},
      backgroundColor: 'green',
      borderColor: 'green',
      tension: 0.2,
    },
    {
      label: 'Revisado',
      data: {{diare|safe}},
      backgroundColor: 'yellow',
      borderColor: 'yellow',
      tension: 0.2,
    },
    {
      label: 'Pendiente',
      data: {{diape|safe}},
      backgroundColor: '#33D1FF',
      borderColor: '#33D1FF',
      tension: 0.2,
    },
    {
      label: 'en Proveedor',
      data: {{diapr|safe}},
      backgroundColor: 'blue',
      borderColor: 'blue',
      tension: 0.2,
    },
    {
      label: 'Directo',
      data: {{diadi|safe}},
      backgroundColor: 'orange',
      borderColor: 'orange',
      tension: 0.2,
    },
    {
      label: 'X asignar OC',
      data: {{diaoc|safe}},
      backgroundColor: 'rgb(78,0,65)',
      borderColor: 'rgb(78,0,65)',
      tension: 0.2,
    },
    {
      label: 'Stock',
      data: {{diast|safe}},
      backgroundColor: 'red',
      borderColor: 'red',
      tension: 0.2,
    },
/*    {
      label: 'Fin',
      data: {{diafn|safe}},
      backgroundColor: 'rgba(255, 255, 0, 0.1)',
      borderColor: 'rgba(255, 255, 0, 0.1)',
      tension: 0.2,
    },
*/    {
      label: 'Objetivo del dia',
      data: {{diall|safe}},
      backgroundColor: 'rgba(255, 0, 0, 0.3)',
      borderColor: 'rgba(255, 0, 0, 0.3',
      tension: 0.4,
    },
    {
      label: 'Avance al Objetivo',
      data: {{diaob|safe}},
      backgroundColor: 'black',
      borderColor: 'black',
      tension: 0.4,
    },
  ],
  
  };

  const config = {
  type: 'line',
  data: data,
  options: {
    animation: {
              duration: 5000,
              },
    responsive: true,
    plugins: {
      title: {
        display: true,
        text: 'Movimiento en los pedidos'
      },
    },
    interaction: {
      intersect: false,
    },
    scales: {
      x: {
        display: true,
        title: {
          display: true
        }
      },
      y: {
        display: true,
        title: {
          display: true,
          text: 'Cantidad de pedidos'
        },
        suggestedMin: 0,
        suggestedMax: 50,
      }
    }
  },
};</script>

 
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
 



    </div>
{% endblock %}