{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    {% if perms.prf.change_sundara %}
    <div class="col-xl-9 col-md-5 mb-5">
        <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="col">
                <h4>Tienes permisos para FireFly y Sundara</h4><br>
                <a href="{% url 'inv:pedido_list_f' %}" onclick="antidoble()" class="btn btn-outline-info"></span> FireFly</a>
                <a href="{% url 'external:report_remplazo' %}" onclick="antidoble()" class="btn btn-outline-primary"></span> Sundara</a>
            </div>
        </div>
    </div>
    </div>
    {% else %}
    <div class="col-xl-9 col-md-5 mb-5">
        <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="col">
                <h4>Tienes permisos para FireFly</h4><br>
                <a href="{% url 'inv:pedido_list_f' %}" onclick="antidoble()" class="btn btn-outline-success"></span> FireFly</a>
            </div>
        </div>
    </div>
    <meta http-equiv="refresh" content="0;url={% url 'inv:pedido_list_f' %}" />
    {% endif %}
{% endblock %}