{% extends 'base/base.html' %}
{% load staticfiles %}
{% block page_content %}
    <div class="col-xl-9 col-md-5 mb-5">
        <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
                    <div class="col">
                        <a href="{% url 'inv:pedido_list_f' %}" onclick="antidoble()" class="btn btn-success"></span> Mis Pedidos</a>
        </div>
        </div>
    </div>
    </div>
    <meta http-equiv="refresh" content="0;url={% url 'inv:pedido_list_f' %}" />
{% endblock %}