{% extends 'base/base.html' %}
{% load staticfiles %}
{% block page_content %}

 <!-- Content Row -->
 <div class="row">

  <div class="col-xl-8 col-lg-7">

      <!-- Area Chart -->
      <div class="card shadow mb-4">
          <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
          </div>
          <div class="card-body">
              <div class="chart-area">
                  <canvas id="myAreaChart"></canvas>
              </div>
              <hr>
              Styling for the area chart can be found in the
              <code>/js/demo/chart-area-demo.js</code> file.
          </div>
      </div>

      <!-- Bar Chart -->
      <div class="card shadow mb-4">
          <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
          </div>
          <div class="card-body">
              <div class="chart-bar">
                  <canvas id="myBarChart"></canvas>
              </div>
              <hr>
              Styling for the bar chart can be found in the
              <code>/js/demo/chart-bar-demo.js</code> file.
          </div>
      </div>

  </div>

  <!-- Donut Chart -->
  <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
              <div class="chart-pie pt-4">
                  <canvas id="myPieChart"></canvas>
              </div>
              <hr>
              Styling for the donut chart can be found in the
              <code>/js/demo/chart-pie-demo.js</code> file.
          </div>
      </div>
  </div>
</div>
</div>


<!-- termina lo visiual -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const labels = [
    '-31',
    '-30',
    '-29',
    '-28',
    '-27',
    '-26',
    '-25',
    '-24',
    '-23',
    '-22',
    '-21',
    '-20',
    '-19',
    '-18',
    '-17',
    '-16',
    '-15',
    '-14',
    '-13',
    '-12',
    '-11',
    '-10',
    '-9',
    '-8',
    '-7',
    '-6',
    '-5',
    '-4',
    'anteantier',
    'antier',
    'ayer',
    'hoy',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'X-Revisar',
      data: {{diaxr|safe}},
      backgroundColor: 'green',
      borderColor: 'green',
      tension: 0.2,
    },
    {
      label: 'Revisado',
      data: {{diare|safe}},
      backgroundColor: 'yellow',
      borderColor: 'yellow',
      tension: 0.2,
    },
    {
      label: 'Pendiente',
      data: {{diape|safe}},
      backgroundColor: '#33D1FF',
      borderColor: '#33D1FF',
      tension: 0.2,
    },
    {
      label: 'en Proveedor',
      data: {{diapr|safe}},
      backgroundColor: 'blue',
      borderColor: 'blue',
      tension: 0.2,
    },
    {
      label: 'Directo',
      data: {{diadi|safe}},
      backgroundColor: 'orange',
      borderColor: 'orange',
      tension: 0.2,
    },
    {
      label: 'X asignar OC',
      data: {{diaoc|safe}},
      backgroundColor: 'rgb(78,0,65)',
      borderColor: 'rgb(78,0,65)',
      tension: 0.2,
    },
    {
      label: 'Stock',
      data: {{diast|safe}},
      backgroundColor: 'red',
      borderColor: 'red',
      tension: 0.2,
    },
/*    {
      label: 'Fin',
      data: {{diafn|safe}},
      backgroundColor: 'rgba(255, 255, 0, 0.1)',
      borderColor: 'rgba(255, 255, 0, 0.1)',
      tension: 0.2,
    },
*/    {
      label: 'Objetivo del dia',
      data: {{diall|safe}},
      backgroundColor: 'rgba(255, 0, 0, 0.3)',
      borderColor: 'rgba(255, 0, 0, 0.3',
      tension: 0.4,
    },
    {
      label: 'Avance al Objetivo',
      data: {{diaob|safe}},
      backgroundColor: 'black',
      borderColor: 'black',
      tension: 0.4,
    },
  ],
  
  };

  const config = {
  type: 'line',
  data: data,
  options: {
    animation: {
              duration: 5000,
              },
    responsive: true,
    plugins: {
      title: {
        display: true,
        text: 'Movimiento en los pedidos'
      },
    },
    interaction: {
      intersect: false,
    },
    scales: {
      x: {
        display: true,
        title: {
          display: true
        }
      },
      y: {
        display: true,
        title: {
          display: true,
          text: 'Cantidad de pedidos'
        },
        suggestedMin: 0,
        suggestedMax: 50,
      }
    }
  },
};</script>

 
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
 



    </div>
{% endblock %}