{% extends 'layouts/partial/list_base.html' %}
{% load humanize %}

{% block contenidoTabla %}
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Unidad de medida</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.description }}</td>
            <td>{{ object.base_price|floatformat:2 }}</td>
            <td>{{ object.category }}</td>
            <td>{{ object.unit_measure }}</td>
            {% include 'layouts/partial/accion_list_base.html' %}
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}