{% extends 'layouts/partial/list_base.html' %}
{% load humanize %}

{% block contenidoTabla %}
    <thead>
        <tr>
            <th>Numero económico</th>
            <th>Placas</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Tipo de vehiculo</th>
            <th>Responsable</th>
            <th>Remolques Asignadas</th>
            <th>Disponible</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.economic_number }}</td>
            <td>{{ object.plates }}</td>
            <td>{{ object.brand }}</td>
            <td>{{ object.model }}</td>
            <td>{{ object.get_type_vehicle_display }}</td>
            <td>{{ object.responsible }}</td>
            <td>
                {% for trailer in object.asigned_truck.all %}
                   <span class="badge badge-primary">{{ trailer }}</span>
                {% endfor %}
            </td>
            <td>{{ object.is_active|yesno:"SI,NO" }}</td>
            {% include 'layouts/partial/accion_list_base.html' %}
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}

