{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Oscar Reyes León">

    <link rel="shortcut icon" type="image/png" href="https://ledsa.mx/ff/firefly.png"/>
    <title>Ledsa FireFly</title>

  <!-- Custom fonts for this template-->
  <link href="{% static  'base/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static  'base/css/sb-admin-2.min.css' %}" rel="stylesheet">

   <!-- Custom styles for this page -->
  <link rel="stylesheet" href="{% static 'base/datatable/jquery.dataTables.min.css'%}">
  <link rel="stylesheet" href="{% static 'base/datatable/buttons.dataTables.min.css'%}">
  <script src="{% static 'base/js/sweetalert2.js' %}"></script>


   <!-- jQuery Confirm -->
  <link rel="stylesheet" href="{% static 'base/vendor/jquery_confirm/jquery-confirm.min.css' %}">

  <!-- XDSoft DateTimePicker -->  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />  

  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
  {% block css_page %}
  {% endblock %}
</head>

<body id="page-top" class="bg-gradient-primary">
  {% block side_bar %}
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'bases:home' %}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-beam"></i>
        </div>
        <div class="sidebar-brand-text mx-3">FireFly <sup>1.1</sup> </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'bases:home' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Opciones de Menú {{request.path}}
      </div>

      {% url 'inv:equipo_list' as cat_url %}
      {% url 'inv:proceso_list' as s_cat_url %}
      {% url 'inv:autoriza_list' as aut_url %}
      {% url 'cmp:compras_list' as cmp_url %}
      {% url 'bita:compras_list' as bita_url %}


      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item {% if cat_url in request.path or s_cat_url in request.path  %} active {% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-rocket"></i>
          <span>Compras</span>
        </a>
        <div id="collapseTwo" class="collapse {% if cat_url in request.path or s_cat_url in request.path %} show {% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Catálogos de Compras</h6>
            {% if perms.inv.view_equipo %}
            <a class="collapse-item {% if cat_url in request.path %} active {% endif %}" href="{{cat_url}}">Equipos</a>
            {% endif %}
            {% if perms.inv.view_proceso %}
            <a class="collapse-item {% if s_cat_url in request.path %} active {% endif %}" href="{{s_cat_url}}">Procesos</a>
            {% endif %}
            {% if perms.inv.view_autoriza %}
            <a class="collapse-item {% if aut_url in request.path %} active {% endif %}" href="{{aut_url}}">Autorizantes</a>
            {% endif %}
            {% if perms.inv.view_categoria %}
            <a class="collapse-item" href="{% url 'inv:categoria_list' %}">Categoria</a>
            {% endif %}
            {% if perms.inv.view_unidadmedida %}
            <a class="collapse-item" href="{% url 'inv:um_list' %}">Unidad Medida</a>
            {% endif %}
            {% if perms.inv.view_producto %}
            <a class="collapse-item" href="{% url 'inv:producto_list' %}">Producto</a>
            {% endif %}
            {% if perms.inv.view_pedido %}
            <a class="collapse-item" href="{% url 'inv:pedido_list_f' %}">Pedidos</a>
            {% endif %}
            {% if perms.prf.change_comprador %}
            <a class="collapse-item" href="{% url 'inv:articuloes_list' %}">ArticulosEs</a>
            {% endif %}
            {% if perms.prf.change_comprador %}
            <a class="collapse-item" href="{% url 'inv:nombrerelacion_list' %}">RelacionArtEs</a>
            {% endif %}

            <h6 class="collapse-header">Catálogos de RH:</h6>
            {% if perms.inv.view_empresa %}
            <a class="collapse-item" href="{% url 'inv:empresa_list' %}">Empresas</a>
            {% endif %}
            {% if perms.inv.view_banco %}
            <a class="collapse-item" href="{% url 'inv:banco_list' %}">Bancos</a>
            {% endif %}
            {% if perms.inv.view_puesto %}
            <a class="collapse-item" href="{% url 'inv:puesto_list' %}">Puestos</a>
            {% endif %}
            {% if perms.inv.view_genero %}
            <a class="collapse-item" href="{% url 'inv:genero_list' %}">Generos</a>
            {% endif %}
            {% if perms.inv.view_estudios %}
            <a class="collapse-item" href="{% url 'inv:estudios_list' %}">Estudios</a>
            {% endif %}
            {% if perms.inv.view_empleado %}
            <a class="collapse-item" href="{% url 'inv:empleado_list' %}">Empleados</a>
            {% endif %}
            {% if perms.inv.view_computadora %}
            <a class="collapse-item" href="{% url 'inv:computadora_list' %}">Computadoras</a>
            {% endif %}
            {% if perms.inv.view_herramienta %}
            <a class="collapse-item" href="{% url 'inv:herramienta_list' %}">Herramienta</a>
            {% endif %}
            
            <h6 class="collapse-header">Catálogos de Compras:</h6>
            
            {% if perms.prf.view_universal %}
            <a class="collapse-item" href="{% url 'cmp:proveedor_list' %}">Proveedores</a>
            {% endif %}
            {% if perms.cmp.view_UsoFactura %}
            <a class="collapse-item" href="{% url 'cmp:usofactura_list' %}">Claves SAT</a>
            {% endif %}

            <h6 class="collapse-header">Catálogos de Facturación:</h6>
            
            {% if perms.fac.view_cliente %}
            <a class="collapse-item" href="{% url 'fac:cliente_list' %}">Clientes</a>
            {% endif %}
            <a class="collapse-item" href="{% url 'bases:idiomas' %}">Idiomas</a>
            <a class="collapse-item" href="{% url 'bases:frases' %}">Frases</a>
          </div>
        </div>
      </li>
      <li class="nav-item {% if cmp_url in request.path  %} active {% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCompras" aria-expanded="true" aria-controls="collapseCompras">
          <i class="fas fa-fw fa-truck"></i>
          <span>Contabilidad</span>
        </a>
        <div id="collapseCompras" class="collapse {% if cmp_url in request.path  %} show {% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Compras</h6>
            <a class="collapse-item {% if cmp_url in request.path  %} active {% endif %}" href="{% url 'cmp:compras_list' %}">Listado OC</a>


          </div>
        </div>
      </li>
      {% if perms.prf.change_vigilante %}
      <li class="nav-item {% if 'bita/' in request.path  %} active {% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBita" aria-expanded="true" aria-controls="collapseBita">
          <i class="fas fa-fw fa-folder"></i>
          <span>Bitacoras </span>
        </a>
        <div id="collapseBita" class="collapse {% if 'bita/' in request.path  %} show  {% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            {% if perms.prf.change_editorbitacoras %}
            <h6 class="collapse-header">Administracion</h6>
            <a class="collapse-item" href="{% url 'bita:operador_pesado_list' %}">OperadoresPesados</a>
            <a class="collapse-item" href="{% url 'bita:solicitante_utilitario_list' %}">Autorizados Utilitarios</a>
            <a class="collapse-item" href="{% url 'bita:vehiculo_ligero_list' %}">Vehiculo Ligeros</a>
            <a class="collapse-item" href="{% url 'bita:vehiculo_pesado_list' %}">Visitas</a>
            <a class="collapse-item" href="{% url 'bita:destinos_clientes_list' %}">SucursalesClientes</a>
            <a class="collapse-item" href="{% url 'bita:motivo_visita_list' %}">MotivosVisita</a>
            <a class="collapse-item" href="{% url 'bita:tanques_diesel_list' %}">TanquesDiesel</a>
            <a class="collapse-item" href="{% url 'bita:motivo_ingreso_unidad_list' %}">MotivosIngreUnidad</a>
            {% endif %}
            {% if perms.prf.change_vigilante %}
            <h6 class="collapse-header">Vigilantes</h6>
            <a class="collapse-item" href="{% url 'bita:carga_diesel_list' %}">Diesel</a>
            <a class="collapse-item" href="{% url 'bita:ingreso_unidad_pesada_list' %}">IngresoUnidad</a>
            <a class="collapse-item" href="{% url 'bita:carga_urea_list' %}">Urea</a>
            <a class="collapse-item" href="{% url 'bita:descarga_diesel_list' %}">RecepciónDiesel</a>
            {% endif %}
          </div>
        </div>
      </li>
      {% endif %}

      <li class="nav-item {% if external in request.path  %} active {% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseExternal" aria-expanded="true" aria-controls="collapseExternal">
          <i class="fas fa-fw fa-folder"></i>
          <span>External </span>
        </a>
        <div id="collapseExternal" class="collapse {% if external in request.path  %} show {% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Reporte Sundara</h6>
            <a class="collapse-item" href="{% url 'external:report_sensor' %}">Exportar a excel</a>
          </div>
        </div>
      </li>

      <li class="nav-item {% if 'administration/' in request.path  %} active {% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseadministration" aria-expanded="true" aria-controls="collapseadministration">
          <i class="fas fa-fw fa-folder"></i>
          <span>Administración</span>
        </a>
        <div id="collapseadministration" class="collapse {% if 'administration/' in request.path  %} show {% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'administration:category_product_list' %}">Categorias</a>
            <a class="collapse-item" href="{% url 'administration:unit_measure_list' %}">Unidad de médida</a>
            <a class="collapse-item" href="{% url 'administration:product_list' %}">Productos</a>
            <a class="collapse-item" href="{% url 'administration:fuel_pump_list' %}">Bomba de combustible</a>
            <a class="collapse-item" href="{% url 'administration:truck_vehicle_list' %}">Remolques</a>
            <a class="collapse-item" href="{% url 'administration:brand_vehicle_list' %}">Marcas de vehículos</a>
            <a class="collapse-item" href="{% url 'administration:vehicle_list' %}">Vehiculos</a>
          </div>
        </div>
      </li>

      <li class="nav-item {% if 'auth/' in request.path  %} active {% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsuarios" aria-expanded="true" aria-controls="collapseUsuarios">
          <i class="fas fa-fw fa-folder"></i>
          <span>Usuarios</span>
        </a>
        <div id="collapseUsuarios" class="collapse {% if 'auth/' in request.path  %} show {% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'user:user_list' %}">Usuarios</a>
            <a class="collapse-item" href="{% url 'user:group_list' %}">Grupos</a>
            <a class="collapse-item" href="{% url 'user:permission_list' %}">Permisos</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    {% endblock side_bar %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% block top_bar %}
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                <img class="img-profile rounded-circle" src="{% static 'base/img/user.png' %}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        {% endblock top_bar %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        {% block page_content %}
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>

        </div>
        {% endblock %}
        <!-- /.container-fluid -->
        {% block footer %}

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span><a href="https://github.com/OscarReyesLeon/FireFly/commits" target="_blank">Ledsa FireFly</a> &copy; 2021-2023 | <a href="https://www.linkedin.com/in/oscarreyesleon/" target="_blank">Oscar Reyes León</a> | <a href="https://www.linkedin.com/in/aaron-ledesma-de-los-sa-730b12176/" target="_blank">ALS</a></span> | <a href="https://www.linkedin.com/in/gustavo-ledesma-de-los-santos-148589149/" target="_blank">GLS</a></span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  {% endblock %}
  <!-- End of Page Wrapper -->
  {% block login %} {% endblock %}
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Cerrar Sesión para <mark> {{ user.username}} </mark>?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Al dar click en el botón Salir, cerrará la sesión para <mark> {{ user.username}} </mark>  </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="{% url 'bases:logout' %}">Salir</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="popup"></div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static  'base/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static  'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static  'base/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static  'base/js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <!-- <script src="{% static 'base/datatable/jquery-3.5.1.js'%}"></script> -->
  <script src="{% static 'base/datatable/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'base/datatable/dataTables.buttons.min.js'%}"></script>
  <script src="{% static 'base/datatable/jszip.min.js'%}"></script>
  <script src="{% static 'base/datatable/pdfmake.min.js'%}"></script>
  <script src="{% static 'base/datatable/vfs_fonts.js'%}"></script>
  <script src="{% static 'base/datatable/buttons.html5.min.js'%}"></script>
  <script src="{% static 'base/datatable/buttons.print.min.js'%}"></script>
  
  <script src="{% static 'base/vendor/jquery_confirm/jquery-confirm.min.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>  
 
  <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table-locale-all.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

  <script src="{% static  'base/js/jquery.chained.min.js' %}"></script>


  <script>
    $(document).ready(function () {
      jQuery.datetimepicker.setLocale('es');
    });
</script>

  {% block control_modal%}
  <script>
    function abrir_modal(url)
    {

      $("#popup").load(url, function(){
        $(this).modal({
          backdrop:'static',
          keyboard: false
        })
        $(this).modal('show');
      });
      return false;
    }

    function cerrar_modal()
    {
      $('#popup').modal('hide');
      return false;
    }

    function mensaje(msg,color='green')
    {
      if (color=="success")
      {
        color="green";
      }
      if (color=="error")
      {
        color="red";
      }


      $.alert({
        title:'',
        theme:'material',
        type:color,
        content:msg
      });
    }

    {% if messages %}
      {% for message in messages %}
        console.log("{{ message.tags }}");
        mensaje("{{ message }}","{{ message.tags }}");
      {% endfor %}
    {% endif %}

  </script>
<script>
  var cuenta=0;
  function antidoble() {
      if (!cuenta == 0) {
        $("a").removeAttr("href");
          return (false);
      }
      else
  cuenta++;
          return (true);
  }
</script>

<script type="text/javascript">
    //Función actualizar
  function actualizar(){location.reload(true);}
  //Función para actualizar cada 5 segundos(5000 milisegundos)
  setInterval("actualizar()",7200000);
</script>

  {% endblock%}
  <script src="{% static  'base/js/base.js' %}"></script>
  {% block js_page %} {% endblock %}
</body>

</html>
