<footer class="sticky-footer bg-white">
<div class="container my-auto">
    <div class="copyright text-center my-auto">
    <span><a href="https://github.com/OscarReyesLeon/FireFly/commits" target="_blank">Ledsa FireFly</a> &copy; 2021-2023 | <a href="https://www.linkedin.com/in/oscarreyesleon/" target="_blank">Oscar Reyes León</a> | <a href="https://www.linkedin.com/in/aaron-ledesma-de-los-sa-730b12176/" target="_blank">ALS</a></span> | <a href="https://www.linkedin.com/in/gustavo-ledesma-de-los-santos-148589149/" target="_blank">GLS</a></span>
    </div>
</div>
</footer>