{% extends 'layouts/partial/form_base.html' %}
{% load static %}
{% block completeForm %}
<form action="" method="POST" class="col-md-12" enctype="multipart/form-data" 
        id="formGeneralVue" ref="formGeneralVue" @submit.prevent="submit_form">
        {% csrf_token %}
        <input type="hidden" id="step_id" disabled value="{{step}}"> 

        <div class="row">
            <div class="col-6">
                <label>Folio de pedido</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control"  v-model="key_order"
                        placeholder="Capturar folio de pedido" aria-describedby="button-search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-search"
                        @click="search_order"
                        >Buscar</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label>Paso actual</label>
                <input type="text" class="form-control" :value="order.status_display" disabled>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Folio de pedido</label>
                    <input type="text" class="form-control" :value="order.key_order" disabled>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Cliente</label>
                    <input type="text" class="form-control" :value="order.client" disabled>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Dirección de entrega</label>
                    <input type="text" class="form-control" :value="order.address" disabled>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Vehículo</label>
                    <input type="text" class="form-control" :value="order.vehicle" disabled>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Chofer</label>
                    <input type="text" class="form-control" :value="order.driver" disabled>
                </div>
            </div>
        </div>

        <div class="row" v-if="order.status >= 7">
            <div class="col-6">
                <div class="form-group">
                    <label>Bomba de combustible</label>
                    <v-select :options="options_fuel_pump" placeholder="Selecciona la bomba de combustible" label="name" :clearable="false"
                        v-model="order.fuel_pump" :disabled="disabled"></v-select>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label>Litros de combustible</label>
                    <input type="number" class="form-control" v-model="order.fuel_liters" placeholder="Cantidad de combustible" required :disabled="disabled">
                </div>
            </div>
        </div>
        <table-component 
            :array_data="products"
            :headers_table="headers_table"
            title_table="Productos del pedido"
            :text_button_add="''"
            :perm_delete="false"
            :perm_add="false"
            >
            <template #body_table >
                <tr v-for="(product, index) in products" :key="index">
                    <td>{$ product.product $}</td>
                    <td>{$ product.truck $}</td>
                    <td>{$ product.quantity_transfer $}</td>
                    <td>
                        <input type="number" class="form-control"  v-if="order.status == 4"
                        v-model="product.ton_out" required :disabled="disabled">
                        <input type="number" class="form-control"  v-else
                        :value="product.ton_out" required :disabled="true">
                    </td>
                    <td>
                        <input type="number" class="form-control" v-if="order.status == 5"
                            v-model="product.ton_receiver" required :disabled="disabled">
                        <input type="number" class="form-control"  v-else
                        :value="product.ton_receiver" required :disabled="true">
                        
                    </td>
                </tr>
            </template>
        </table-component>

        <div class="row mt-5" v-if="!disabled && order.id">
            <div class="col-12 mb-3">
                <h6 class="text-success">Recuerda que, al generar la carta porte, ya no podrás modificar la salida.</h6>
            </div>
            <div class="col-12">
                <a type="button"
                    class="btn btn-primary text-white"
                    @click="submit_form(0)"
                >Guardar</a>

                <a type="button" v-if="order.status >= 4 && order.status <= 7"
                    class="btn btn-primary text-white ml-3"
                    @click="submit_form(1)"
                >
                hola mundo
                <span v-if="order.status == 4"> Generar carte porte y salida </span>
                <span v-else-if="order.status==5"> Confirmar entrega </span>
                <span v-else-if="order.status==6"> Finalizar viaje (Entrada a almácen) </span>
                <span v-else-if="order.status==7"> Finalizar cáptura de combustible </span>
                </a>
            </div>
        </div>
</form>
{% endblock %}

{% block jsForm %}
<script src="{% static 'base/vue/components/table_component.js' %}"></script>
<script src="{% static 'js/order/delivery_form.js' %}"></script>

{% endblock %}