{% extends 'layouts/partial/form_base.html' %}
{% load static %}
{% block completeForm %}
<form action="" method="POST" class="col-md-12" enctype="multipart/form-data" 
    id="formGeneralVue" ref="formGeneralVue" @submit.prevent="submit_form">
    {% csrf_token %}

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Datos generales del pedido</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Folio del pedido</label>
                        <input type="text" class="form-control" v-model="form_order.key_order" @change="change_key_order" 
                            required maxlength="10" minlength="5">
                        <small class="error-message" v-if="form_order.errors.key_order">{$ form_order.errors.key_order$}</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>¿Proceso con facturación?</label>
                        <v-select :options="options_invoice_filter"
                            placeholder="Selecciona si el proceso es con facturación" id="id" label="name" :clearable="false"
                            
                            v-model="form_order.invoice_status"></v-select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Estatus del pedido</label>
                        <v-select :options="options_status_filter" placeholder="Selecciona el estatus del pedido" :clearable="false"
                            label="name" v-model="form_order.status" :disabled="!perms.super_user"></v-select>
                        <small>Para avanzar el pedido a la siguiente fase, favor de cambiar su estatus.</small>
                    </div>
                </div>
               
                <div class="col-6" v-if="perms.autorize_order">
                    <div class="form-check mt-5 mb-3 mr-3">
                        <input class="form-check-input" type="checkbox" 
                            checked v-model="form_order.autorization">
                        <label class="form-check-label">
                            ¿Pedido autorizado?
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="form-group">
                        <label>Cliente</label>
                        <v-select :options="options_clients" placeholder="Selecciona el cliente" label="name" :clearable="false"
                            
                            v-model="form_order.client"></v-select>
                            <small class="error-message" v-if="form_order.errors.client && !form_order.client">{$ form_order.errors.client$}</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Dirección de entrega</label>
                        <v-select :options="options_address" placeholder="Selecciona la dirección de entrega" :clearable="false"
                            
                            label="name" v-model="form_order.address"></v-select>
                        <small v-if="form_order.address && form_order.address.name" class="text-muted">{$ form_order.address.name $}</small>
                            <small class="error-message" v-if="form_order.errors.address && !form_order.address">{$ form_order.errors.address $}</small>
                    </div>
                </div>

            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="form-group">
                        <label>Fecha de entrega estimada</label>
                        <input type="date" class="form-control" v-model="form_order.delivery_date_estimated" required>
                    </div>
                </div>


                <div class="col-6">
                    <div class="form-group">
                        <label>Fecha de entrega real</label>
                        <input type="date" class="form-control" v-model="form_order.delivery_date"
                            :disabled="disabled_force">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="card mt-5"  v-if="perms.asign_vehicle || perms.asign_pump">
        <div class="card-header">
            <h5 class="card-title">Datos generales del traslado</h5>
        </div>
        <div class="row m-2" v-if="perms.asign_vehicle">
            <div class="col-6">
                <div class="form-group">
                    <label>Vehículo</label>
                    <v-select :options="options_vehicles" placeholder="Selecciona el vehículo" label="name" :clearable="false"
                        v-model="form_order.vehicle"></v-select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Chofer</label>
                    <v-select :options="options_drivers" placeholder="Selecciona un chofer" label="name" :clearable="false"
                        v-model="form_order.driver"></v-select>
                </div>
            </div>
        </div>

        <div class="row m-2" v-if="perms.asign_pump">
            <div class="col-6">
                <div class="form-group">
                    <label>Bomba de combustible</label>
                    <v-select :options="options_fuel_pump" placeholder="Selecciona la bomba de combustible" label="name" :clearable="false"
                        v-model="form_order.fuel_pump"></v-select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Litros de combustible</label>
                    <input type="number" class="form-control" v-model="form_order.fuel_liters" required>
                </div>
            </div>
        </div>

    </div>

    <div class="card mt-5">
        <table-component 
        :array_data="array_products"
        :initial_data="initial_form_product"
        text_button_add="Agregar producto"
        title_table="Productos del pedido"
        :headers_table="header_table_products"
        :perms="perms"
        :perm_delete="perms.delete_product"
        :perm_add="perms.add_product"
        >
        <template #body_table>
            <tr v-for="(product, index) in array_products" :key="index">
                <td style="width:25%">
                    <v-select :options="options_products" placeholder="Selecciona un producto" label="name" :clearable="false"
                        v-model="product.product" :disabled="!perms.change_product"></v-select>
                <td style="width:25%" v-if="perms.asign_truck">
                    <v-select :options="options_trucks" placeholder="Selecciona un remolque" label="name" :clearable="false"
                        v-model="product.truck"></v-select>
                </td>
                <td>
                    <input type="number" class="form-control" v-model="product.quantity_order" :disabled="!perms.quantity_order" required>
                    <small class="error-message" v-if="product.errors && product.errors.quantity_order">{$ product.errors.quantity_order $}</small>
                </td>
                <td v-if="perms.quantity_transfer">
                    <input type="number" class="form-control" v-model="product.quantity_transfer" required>
                    <small class="error-message" v-if="product.errors &&  product.errors.quantity_transfer">{$ product.errors.quantity_transfer $}</small>
                </td>
                
                <td v-if="perms.ton_out">
                    <input type="number" class="form-control" v-model="product.ton_out" required>
                    <small class="error-message" v-if="product.errors &&  product.errors.ton_out">{$ product.errors.ton_out $}</small>
                </td>
                <td v-if="perms.delete_product">
                    <a type="button" class="btn btn-danger text-white"
                    @click="array_products.splice(index,1)">Eliminar</button>
                </td>
            </tr>

        </template>
        </table-component>
    </div>

    <div class="row">
        <button type="submit" class="btn btn-primary m-3 enviarFormulario">{{c_text_button}}</button>
        {% if c_url_list %}
        <a href="{% url c_url_list %}" class="btn btn-danger m-3 cancelarFormulario">Cancelar</a>
        {% endif %}
    </div>
</form>

{% endblock %}

{% block jsForm %}
<script src="{% static 'base/js/vue/components/table_component.js' %}"></script>

<script>
    createApp({
        delimiters: ['{$', '$}'],
        data() {
            const initial_form_order = {
                id: null,
                key_order: null,
                status: null,
                invoice_status: false,
                autorization: false,
                delivery_date_estimated: null,
                delivery_date: null,
                client: null,
                address: null,
                vehicle: null,
                driver: null,
                liters: null,
                pump: null,
                errors: {}
            }

            const initial_form_product = {
                id: null,
                product: null,
                quantity_order: null,
                quantity_transfer: null,
                truck: null,
                ton_out: null,
                ton_receiver: null,
                errors: {}
            }
            
            return {
                options_invoice_status: ref([]),
                options_order_status: ref([]),
                options_clients: ref([]),
                options_address: ref([]),
                disabled_force: true,
                options_status_filter: ref([]),
                form_order: ref({ ...initial_form_order }),

                initial_form_order,
                url_order: '/api/v1/orders/',
                url_client: '/api/v1/clients/',

                options_vehicles: ref([]),
                options_drivers: ref([]),
                options_fuel_pump: ref([]),
                url_administration: '/api/v1/administration/',
                //details
                options_products: ref([]),
                options_trucks: ref([]),
                form_product: ref({ ...initial_form_product }),
                initial_form_product,
                array_products: ref([]),
                perms: ref({}),

                url_users: '/api/v1/users/',
            }
        },
        methods: {
            change_key_order(){
                if(!this.form_order.key_order || this.form_order.key_order.length < 5){
                    this.form_order.errors.key_order = "La clave debe tener al menos 5 caracteres"
                    return
                }
                this.form_order.key_order = this.form_order.key_order.toUpperCase()
                this.form_order.errors.key_order = null
                getDataAsync(this.url_order + "?key_order=" + this.form_order.key_order, (data) => {
                }, (error) => {
                    let error_message = error.responseJSON
                    if (error_message.key_order) {
                        this.form_order.errors.key_order = error_message.key_order
                    }
                })
            },
            submit_form(){
                let with_error = false
                if (!this.$refs.formGeneralVue.checkValidity()) {
                    NotificationToast.fire({
                        icon: 'error',
                        title: 'Por favor llena todos los campos requeridos'
                    })
                    with_error = true
                }
                this.form_order.errors.client = null
                this.form_order.errors.address = null
                if (!this.form_order.client){
                    this.form_order.errors.client = "Selecciona un cliente"
                    with_error = true
                }
                if (!this.form_order.address){
                    this.form_order.errors.address = "Selecciona una dirección"
                    with_error = true
                }

                for(let prod of this.array_products){
                    if(!prod.product){
                        NotificationToast.fire({
                            icon: 'error',
                            title: 'Selecciona un producto'
                        })
                        with_error = true
                    }
                }

                if(with_error) return
                
                let data_send = {
                    ...this.form_order,
                    products: []
                }
                delete data_send.errors

                for(let key in data_send){
                    if(!data_send[key])
                        delete data_send[key]
                    else if(data_send[key].id != null)
                        data_send[key] = data_send[key].id
                }
                
                for(let i in this.array_products){
                    let product = {...this.array_products[i]}
                    this.array_products[i].errors = {}
                    for(let key in product){
                        if(!product[key])delete product[key]
                        else if(product[key].id != null) product[key] = product[key].id
                    }
                    data_send.products.push(product)
                }

                let self = this
                if(this.form_order.id){
                    method = 'PATCH'
                    url = this.url_order + this.form_order.id + '/'
                }else{
                    method = 'POST'
                    url = this.url_order
                }
                saveFormAsync(url, method, {
                        'data': JSON.stringify(data_send)
                    }, (data)=>{
                    },(error)=>{
                        error = error.responseJSON
                        if(error.products){
                            for(let i in error.products){
                                let product = error.products[i]
                                for(let key in product){
                                    self.array_products[i].errors[key] = product[key][0]
                                }
                            }
                            delete error.products
                        }
                        this.form_order.errors = error
                    })
                },
            asign_value_select(value, options){
                for(let option of options){
                    if(option.id == value){
                        return option
                    }
                }
                return null
            },
        },
        watch: {
            'form_order.client': function (new_value, old_value) {
                this.form_order.address = null
                if (!new_value) {
                    this.options_address = []
                    this.form_order.client.error = "Selecciona un cliente"
                    return
                }
                
                this.form_order.client.error = null
                getDataAsync(this.url_client + this.form_order.client.id + "/address/options/", (data) => {
                    this.options_address = data
                    if(this.form_order.address_initial){
                        this.form_order.address = this.asign_value_select(this.form_order.address_initial, this.options_address)
                        delete this.form_order.address_initial
                    }
                })
            },
        },
        computed: {
            header_table_products(){
                let array_header = ["Producto"]
                if(this.perms.asign_truck) array_header.push("Remolque")
                array_header.push("Cantidad pedido")
                if (this.perms.quantity_transfer) array_header.push("Cantidad traslado")
                if (this.perms.ton_out) array_header.push("Toneladas")
                return array_header
            },
            options_invoice_filter(){
                if(!this.perms.super_user || this.form_order.status < 3)
                    return this.options_invoice_status.filter((item) => item.id < 2)
                return this.options_invoice_status
            },
        },
        async mounted() {
            await getDataAsync(this.url_users + "permissions/order_view/", (data) => {
                this.perms = data
            })

            await getDataAsync(this.url_order + "options/", (data) => {
                this.options_invoice_status = data.invoice_status
                this.options_order_status = data.order_status
                this.form_order.status = data.order_status[0]
                this.form_order.invoice_status = data.invoice_status[0]
            })

            await getDataAsync(this.url_client + "options/", (data) => {
                this.options_clients = data
            })

            await getDataAsync(this.url_administration + "options/", (data) => {
                this.options_vehicles = data.options_vehicles
                this.options_drivers = data.options_drivers
                this.options_fuel_pump = data.options_fuel_pump
                this.options_products = data.options_products
                this.options_trucks = data.options_trucks
            })

            if(this.$refs.formGeneralVue.action.includes('update')){
                let url = this.$refs.formGeneralVue.action
                let pk = url.split('/')[url.split('/').length - 2]
                let url_get = `${this.url_order}${pk}/`
                let self = this

                getDataAsync(url_get,(data)=>{
                    let products = data.detail
                    delete data.detail
                    for(let prod of products){
                        self.array_products.push({
                            id: prod.id,
                            product: self.asign_value_select(prod.product, self.options_products),
                            truck: self.asign_value_select(prod.truck, self.options_trucks),
                            quantity_order: prod.quantity_order,
                            quantity_transfer: prod.quantity_transfer,
                            ton_out: prod.ton_out,
                            errors: {},
                        })
                    }

                    self.form_order = {
                        ...data,
                        errors: {},
                        invoice_status: self.asign_value_select(data.invoice_status, self.options_invoice_status),
                        status: self.asign_value_select(data.status, self.options_order_status),
                        client: self.asign_value_select(data.client, self.options_clients),
                        address: self.asign_value_select(data.address, self.options_address),
                        vehicle: self.asign_value_select(data.vehicle, self.options_vehicles),
                        driver: self.asign_value_select(data.driver, self.options_drivers),
                        fuel_pump: self.asign_value_select(data.fuel_pump, self.options_fuel_pump),
                        truck: self.asign_value_select(data.truck, self.options_trucks),
                        address_initial: data.address,
                    }
                })
           
           
                if(this.perms.super_user)
                    this.options_status_filter = this.options_order_status
                else{
                    next_status = this.form_order.status ? this.form_order.status.id + 1 : 1
                    this.options_status_filter = this.options_order_status.filter((item) => [next_status, next_status-1].includes(item.id))
                }

            }
        },
        components: {
            'v-select': window["vue-select"],
            'table-component': tableComponent,
        },
    }).mount('#appVue')

</script>
{% endblock %}