{% extends 'layouts/new_base.html' %}{% load static %}
{% block css_page %}
<link rel="stylesheet" href="{% static 'base/css/form_general.css'%}">

<link rel="stylesheet" href="{% static 'base/other/select2.min.css'%}">

{% endblock %}
{% block page_content %}
<div class="row m-3">
    <div class="col-md-6">
        <h3 class="text-center"><b>{{ c_title_form }}</b></h3>
    </div>
    <div class="col-md-6 mb-3">
        {% if c_url_list %}
            <a href="{% url c_url_list %}"  class="btn btn-danger float-right cancelarFormulario">Volver a listado</a>
        {% endif %}
    </div>

    {% block completeForm %}

    <form action="" method="POST" class="col-md-12" enctype="multipart/form-data" 
        id="formGeneral" ref="formGeneral" @submit.prevent="submit_form">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
            <div class="col-{{ field.field.widget.attrs.col_default }}">
                <div class="form-group">
                    <label for="{{ field.id_for_label }}"
                        {% if field.field.widget.input_type == 'checkbox' %}
                            class="form-check-label"
                        {% endif %}
                    >{{ field.label }}
                        {% if field.field.required %}
                        <span class="text-danger">*</span>
                        {% endif %}
                    </label>
                    {{ field }}
                    <small>{{ field.help_text }}</small>
                    {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% block extraForm %}
        {% endblock %}
        <div class="row">
            <button type="submit" class="btn btn-primary m-3 enviarFormulario">{{c_text_button}}</button>
            {% if c_url_list %}
                <a href="{% url c_url_list %}" class="btn btn-danger m-3 cancelarFormulario">Cancelar</a>
            {% endif %}
        </div>
    </form>
    {% endblock %}
</div>
{% endblock %}

{% block js_page %}
{% if form_with_address %}
    <script src="{% static 'base/js/address.js' %}"></script>
{% endif %}

{% if with_vue %}
<link rel="stylesheet" href="{% static 'base/js/vue/files/vue-select.css' %}">
<script src="{% static 'base/js/vue/files/vue3.min.js' %}"></script>
<script src="{% static 'base/js/vue/files/vue-select.min.js' %}"></script>

{% endif %}

{% block jsForm %}
{% endblock %}

{% endblock %}