{% extends 'base/base.html' %}
{% load humanize %}

{% block page_content %}
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Listado de Pedidos</h6>
    <div class="dropdown no-arrow">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
        <div class="dropdown-header">Acciones:</div>
        <a class="dropdown-item" onclick="return abrir_modal('{% url 'inv:pedido_new' %}')" href="#"><i class="far fa-calendar-plus"></i> Nuevo</a>
      </div>
    </div>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <div class="buttons-toolbar">
      <a class="btn btn-outline-success" onclick="return abrir_modal('{% url 'inv:pedido_new' %}')"><i cass="far fa-calendar-plus"></i> Nuevo</a>
      <a href="{% url 'inv:pedido_list_f' %}" onclick="antidoble()" class="btn btn-outline-primary" role="button"></i>Mis Pedidos</a>
      {% if perms.prf.change_almacenista or perms.prf.change_comprador or perms.prf.change_auxcompras %}
      <a href="{% url 'inv:pedido_list_f2' %}" onclick="antidoble()" class="btn btn-outline-info" role="button">Cotizar</i></a>
      {% endif %}
      {% if perms.prf.change_almacenista or perms.prf.change_auxcompras or perms.prf.change_autorizador or perms.prf.change_comprador %}
      <a href="{% url 'cmp:compras_list' %}" onclick="antidoble()" class="btn btn-outline-info" role="button"></i>OC</a>
      {% endif %}
      {% if perms.prf.change_almacenista or perms.prf.change_auxcompras or perms.prf.change_autorizador or perms.prf.change_comprador %}
      <a href="{% url 'inv:pedido_list_f4' %}" onclick="antidoble()" class="btn btn-outline-info" role="button"></i>Proveedor</a>
      {% endif %}
      {% if perms.prf.change_almacenista or perms.prf.change_comprador or perms.prf.change_auxcompras %}
      <a href="{% url 'inv:pedido_list_f5' %}" onclick="antidoble()" class="btn btn-outline-info" role="button"></i>Terminado</a>
      {% endif %}
      <a href="{% url 'inv:pedido_list' %}" class="btn btn-outline-light" role="button"></i>Todo</a>
      {% if perms.prf.change_autorizador or perms.prf.change_comprador %}
      <a href="{% url 'inv:pedido_list_als' %}" onclick="antidoble()" class="btn btn-outline-info" role="button"></i>ALS</a>
      {% endif %}
      {% if perms.prf.change_autorizador%}
      <a href="{% url 'inv:pedido_list_gls' %}" onclick="antidoble()" class="btn btn-outline-info" role="button"></i>GLS</a>
      {% endif %}
      {% if perms.prf.change_autorizador%}
      <a href="{% url 'inv:pedido_list_mls' %}" onclick="antidoble()" class="btn btn-outline-info" role="button"></i>MLS</a>
      {% endif %}
      {% if perms.prf.change_almacenista or perms.prf.change_comprador or perms.prf.change_auxcompras %}
      <a href="{% url 'inv:pedido_export' %}" class="btn btn-outline-light" role="button"></i>Exportar</a>
      {% endif %}
      {% if perms.prf.change_almacenista or perms.prf.change_comprador or perms.prf.change_auxcompras %}
      <a href="{% url 'inv:articuloes_list' %}" onclick="antidoble()" class="btn btn-outline-primary" role="button">Estandarizar Articulos</i></a>
      {% endif %}
      {% if perms.prf.change_almacenista or perms.prf.change_comprador or perms.prf.change_auxcompras %}
      <a href="{% url 'inv:nombrerelacion_list' %}" onclick="antidoble()" class="btn btn-outline-primary" role="button">Relacionar</i></a>
      {% endif %}

    </div><br>


    {% if not obj %}
    <div class="alert alert-info">No Pedidos</div>
    {% endif %}
    <table class="table table-striped table-hover dt-responsive nowrap compact" style="width:100%">
      <thead>
        <th>ID</th>
        <th>Aut</th>
        <th>PA</th>
      	<th>Cantidad</th>
        <th>Articulo</th>
        <th>$ Unitario</th>
        <th>Fecha</th>
        <th>Compras</th>
        <th>Status</th>
        <th class="all">Cancelar</th>
      </thead>
      <tbody>
        {% for item in obj%}

        <tr>
          <td>{{item.id}}</td>
          <td>{{item.pedido.cantidad}}</td>
          <td>{{item.autpor}}</td>
      	  <td>{{item.cantidad}} {{item.UniMed}}</td>
          <td>{{item.articulo}}</td>
          <td>{{item.divisa}}$ {{item.precio_uni}}</td>
          <td>{{item.fc|date:"d/m/y"}}</td>
          <td>{{item.status}}</td>
          <td>{{item.indentificador_estado}}</td>
          <td>
            {%if item.status2 == 'Proximo' and item.status == 'X-Revisar' %}
            <a href="{% url 'inv:scancela' item.id %}" onclick="antidoble()" class="btn btn-outline-dark btn-circle" role="button"><i class="fa fa-times"></i></a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block js_page %}
<script>

  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'print'
        ],
      "rowCallback": function(row, data, index){
        if(data[1]== 'Pendiente'){
      	$(row).find('td:eq(1)').css('color', 'orange');
        }
        if(data[1]== 'Si'){
      	$(row).find('td:eq(1)').css('color', 'green');
        }
        if(data[1]== 'No'){
      	$(row).find('td:eq(1)').css('color', 'red');
        }
        if(data[1]== 'sc'){
      	$(row).find('td:eq(1)').css('color', 'blue');
        }
        if(data[1]== 'na'){
      	$(row).find('td:eq(1)').css('color', 'blue');
        }

        if(data[8]== 0){
      	$(row).find('td:eq(4)').css('color', 'red');
        }
        if(data[8]== 2){
      	$(row).find('td:eq(4)').css('color', 'purple');
        }
        if(data[8]== 1){
      	$(row).find('td:eq(4)').css('color', 'green');
        }
        if(data[8]== 3){
      	$(row).find('td:eq(4)').css('color', 'orange');
        }
        if(data[8]== 4){
      	$(row).find('td:eq(4)').css('color', 'blue');
        }

        if(data[7]== 'X-Revisar'){
      	$(row).find('td:eq(7)').css('color', 'green');
        }
        if(data[7]== 'Revisado'){
      	$(row).find('td:eq(7)').css('color', '#a18262');
        }
        if(data[7]== 'Pendiente'){
      	$(row).find('td:eq(7)').css('color', 'rgb(255, 99, 132)');
        }
        if(data[7]== 'en Proveedor'){
      	$(row).find('td:eq(7)').css('color', '#33D1FF');
        }
        if(data[7]== 'Fin'){
      	$(row).find('td:eq(7)').css('color', 'purple');
        }
        if(data[7]== 'S-Cancela'){
      	$(row).find('td:eq(7)').css('color', 'black');
        }
        if(data[7]== 'Fin-Anormal'){
      	$(row).find('td:eq(7)').css('color', 'black');
        }
        if(data[7]== 'Rechazo'){
      	$(row).find('td:eq(7)').css('color', 'orange');
        }
        if(data[7]== 'Stock'){
      	$(row).find('td:eq(7)').css('color', 'blue');
        }
        if(data[7]== 'Enviado-Fin'){
      	$(row).find('td:eq(7)').css('color', 'blue');
        }
        if(data[7]== 'Directo'){
      	$(row).find('td:eq(7)').css('color', 'orange');
        }
        if(data[7]== 'X asignar OC'){
      	$(row).find('td:eq(7)').css('color', 'red');
        }

      },
      "order": [[ 8, 'asc' ], [ 0, 'desc' ]],
      "lengthMenu": [ 100, 250, 500, 1000],
      "scrollX": true,
      "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ pedidos",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ pedidos" + "<br>" + "<br>" + "Tus registros antiguos a +500 son archivados",
            "sInfoEmpty": "No hay pedidos registrados",
            "sInfoFiltered": "(filtrado de un total de _MAX_ pedidos)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "<span class='fa fa-angle-double-left'></span>",
                "sLast": "<span class='fa fa-angle-double-right'></span>",
                "sNext": "<span class='fa fa-angle-right'></span>",
                "sPrevious": "<span class='fa fa-angle-left'></span>"
            },
        "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      }

    });
  });
  $("#sidebarToggle").click();
  </script>
{% endblock %}
