{% extends 'base/base.html' %}
{% block page_content %}
<center>
<div class="modal-lg">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" class="form-inline" action="{% url 'inv:pedido_edit' obj.pk %}" enctype="multipart/form-data" >
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'inv:pedido_new' %}"  enctype="multipart/form-data" >
        {% endif %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {% if obj %} Editar {% else %} Nueva {% endif %} Solicitud
                        </div>
                        <div class="dropdown-divider"></div>
                        {% csrf_token %}
                        <div class="row">
                            {#{ form.as_p }#}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-6">{{form.cantidad.label}}</div>
                                <div class="col-md-6">{{form.cantidad}}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6">Unidad de medida</div>
                                <div class="col-md-6">{{form.UniMed}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-6">Articulo Listado</div>
                                <div class="col-md-6">
                                    <select class="form-control select2" placeholder="Seleccione un articulo" name="articulo" id="articulo" style="width: 100%;" required>
                                        <option value="">Seleccione un articulo</option>
                                        {% for articulo in articulos %}
                                            <option value="{{articulo.descripcion}}">{{articulo.descripcion}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-6">{{form.comentario.label}}</div>
                                <div class="col-md-6">{{form.comentario}}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6">{{form.proceso.label}}</div>
                                <div class="col-md-6">{{form.proceso}}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6">Autorizante</div>
                                <div class="col-md-6">{{form.autpor}}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6">Precio Unitario (opcional)</div>
                                <div class="col-md-6">{{form.precio_uni}}</div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" id="boton" onclick="antidoblebuton()" class="btn btn-success"><span class="fa fa-save"></span> Guardar</button>
                                <!-- <a href="{% url 'inv:um_list' %}" class="btn btn-success"><span class="fa fa-undo"></span>Cancelar</a> -->
                                <a href="{% url 'inv:pedido_list_f' %}" class="btn btn-danger"><span class="fa fa-undo"></span>Cancelar</a>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                Busca el artículo que solicitas en el listado desplegable de "Artículo Listado". <br>
                                Si es un artículo que no ha sido solicitado, o si el artículo no se encuentra en el listado, puedes usar la "Solicitud No Estandarizada".<br><br>
                                <b>Se pide encarecidamente primero buscar el Artículo en el listado.</b>
                                <div class="dropdown-divider"></div>
                                <a href="{% url 'inv:pedido_news' %}" class="btn btn-info"><span class="fa fa-stroopwafel"></span>Solicitud "No Estandarizada"</a>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>

                    </div>
                    <div class="col-auto">
                        <i class="far fa-calendar-plus fa-2x text-gray-300"></i>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>
</center>
{% endblock %}
{% block footer %}
{% endblock %}

{% block js_page %}
<script>
  var cuenta=0;
  function antidoblebuton() {
    if (!cuenta == 0) {
        document.getElementById('boton').disabled=true;
        return (false);
    }
    else
  cuenta++;
          return (true);
  }

</script>
<script>
    $(function() {
        $('.select2').select2({
            placeholder: "Selecciona una opcion acorde a lo que buscas",
            language: "es",
            tags: true
        });
    });
</script> {% endblock %}