{% extends 'base/base.html' %}
{% load humanize %}

{% block page_content %}
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Listado de Pedidos</h6>
    <div class="dropdown no-arrow">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
        <div class="dropdown-header">Acciones:</div>
        <a class="dropdown-item" onclick="return abrir_modal('{% url 'inv:pedido_new' %}')" href="#"><i class="far fa-calendar-plus"></i> Nuevo</a>
      </div>
    </div>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <div class="buttons-toolbar">
      <a class="btn btn-success" onclick="return abrir_modal('{% url 'inv:pedido_new' %}')"><i cass="far fa-calendar-plus"></i> Nuevo</a>
      <a href="{% url 'inv:pedido_list_f' %}" onclick="antidoble()" class="btn btn-info" role="button"></i>Mis Pedidos</a>
      {% if perms.inv.view_autoriza or perms.inv.change_producto%}
      <a href="{% url 'inv:pedido_list_f2' %}" onclick="antidoble()" class="btn btn-info" role="button">Cotizar</i></a>
      {% endif %}
      {% if perms.inv.view_autoriza or perms.inv.change_producto%}
      <a href="{% url 'inv:pedido_list_f3' %}" onclick="antidoble()" class="btn btn-info" role="button"></i>OC</a>
      {% endif %}
      {% if perms.inv.view_autoriza or perms.inv.change_producto%}
      <a href="{% url 'inv:pedido_list_f4' %}" onclick="antidoble()" class="btn btn-info" role="button"></i>Proveedor</a>
      {% endif %}
      {% if perms.inv.view_autoriza or perms.inv.change_producto%}
      <a href="{% url 'inv:pedido_list_f5' %}" onclick="antidoble()" class="btn btn-info" role="button"></i>Terminado</a>
      {% endif %}
      <a href="{% url 'inv:pedido_list' %}" onclick="antidoble()" class="btn btn-dark" role="button"></i>Todo</a>
      {% if perms.inv.view_autoriza or perms.inv.change_producto%}
      <a href="{% url 'inv:pedido_list_als' %}" onclick="antidoble()" class="btn btn-info" role="button"></i>ALS</a>
      {% endif %}
      {% if perms.inv.view_autoriza or perms.inv.change_producto%}
      <a href="{% url 'inv:pedido_list_gls' %}" onclick="antidoble()" class="btn btn-info" role="button"></i>GLS</a>
      {% endif %}
      {% if perms.prf.view_autorizantemls %}
      <a href="{% url 'inv:pedido_list_mls' %}" onclick="antidoble()" class="btn btn-info" role="button"></i>MLS</a>
      {% endif %}
    </div>

    {% if not obj %}
    <div class="alert alert-info">No Pedidos</div>
    {% endif %}
    <table class="table table-striped table-hover dt-responsive nowrap compact" style="width:100%">
      <thead>
        <th>ID</th>
        <th>PA</th>
        <th>Autorizado</th>
        <th>Solicitante</th>
        <th>Articulo</th>
      	<th>Cantidad</th>
        <th>Unidad Medida</th>
        <th>Divisa</th>
        <th>$ Unitario</th>
        <th>$ Total</th>
        <th>Estado</th>
        <th>Proceso</th>
        <th>F-Registro</th>
        <th>F-Modificado</th>
        <th>F-Cotizado</th>
        <th>F-Aprobado</th>
        <th>F-Proveedor</th>
        <th>F-Finalizado</th>
        <th>F-Rechazo</th>    
        <th class="all">¿ReAut?</th>
        <th>Motivo</th>    
        <th>Comentario</th>    
        <th>IO</th>
      </thead>
      <tbody>
        {% for item in obj%}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.autpor}}</td>
          <td>{{item.status2}}</td>
          <td>{{item.uc}}</td>
          <td>{{item.motivo_peticion}}</td>
      	  <td>{{item.cantidad}}</td>
          <td>{{item.UniMed}}</td>
          <td>{{item.divisa}}</td> 
          <td>{{item.precio_uni}}</td>
          <td>{{item.preciotransaccion|floatformat:"0"}}</td>
          <td>{{item.status}}</td>
          <td>{{item.proceso}}</td>
          <td>{{item.fc|date:"d-m-y H:i"}}
          <td>{{item.fm|date:"d-m-y H:i"}}
          <td>{{item.fecha_recotizado}}</td>
          <td>{{item.fecha_aprobado}}</td>
          <td>{{item.fecha_requerido}}</td>
          <td>{{item.fecha_finalizado}}</td>
          <td>{{item.fecha_rechazo}}</td>
          <td>
            {% if perms.inv.view_autoriza and item.indentificador_estado == '1' or perms.inv.view_autoriza and item.status == 'Rechazo' %}
            <a href="{% url 'inv:pedido_aprobado_als' item.id %}" onclick="antidoble()" class="btn btn-success btn-circle" role="button"><i class="far fa-thumbs-up"></i></a>
            {% endif %}
          </td>
          <td>{{item.motivo_peticion}}</td>
          <td>{{item.comentario}}</td>
          <td>{{item.indentificador_estado}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block js_page %}
<script>

  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable({
      
      "order": [[ 22, 'asc' ], [ 0, 'desc' ]], 
      "lengthMenu": [ 1000, 2500, 5000, 10000, 20000],
      "scrollX": true,
      "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "<span class='fa fa-angle-double-left'></span>",
                "sLast": "<span class='fa fa-angle-double-right'></span>",
                "sNext": "<span class='fa fa-angle-right'></span>",
                "sPrevious": "<span class='fa fa-angle-left'></span>"
            },
        "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      }

      


    });
  });
  $("#sidebarToggle").click();
  </script>
{% endblock %}
