<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PDF FireFly</title>

    <style type="text/css">
    @page {
        size: letter;
        margin: 1cm;
    }

    .table td .numero{
        text-align: left;
    }
    </style>
</head>
<body>
    <div class="container">
        <table class="">
            <tr>
                <td>
                    <div class="card-header" align="left">
                        <img src="{{encabezado.empresaoc.urllogoempresa}}">
                    </div>
                </td>
                <td>
                    <div class="card-header" align="right">
                        <h3>Orden de compra ID: {{ encabezado.id}} <br> Fecha UM: {{ encabezado.fm|date:"H:i"}} {{ encabezado.fm|date:"d/m/Y"}} <br> UM ID: {{ encabezado.um }} </h3>
                    </div>
                </td>
            </tr>
        </table>
        <hr/>
        <div class="card">
            <div class="list-group">
                <table class="">
                    <tbody>
                        <tr>
                            <td>
                                <h4>Información del Proveedor</h4>
                            </td>
                            <td>
                                <h4>Dias de credito: {{ encabezado.proveedor.diascredito }}</h4>
                            </td>
                        </tr>
                    </tbody>
                </table><br>
                <table class="">
                    <tbody>
                        <tr>
                            <td><h4>Razon Social:</h4></td>
                            <td>{{ encabezado.proveedor.descripcion}}</td>
                            <td><h4>RFC:</h4></td>
                            <td>{{ encabezado.proveedor.rfcproveedor }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="">
                    <tbody>
                        <tr>
                            <td><h4>Contacto:</h4></td>
                            <td>{{ encabezado.proveedor.contacto }}</td>
                            <td>{{ encabezado.proveedor.telefono}} </td>
                            <td>{{ encabezado.proveedor.email }}</td>
                        </tr>
                    </tbody>
                </table><br>
                <table class="">
                    <tbody>
                        <tr>
                            <td><h4>Banco</h4></td>
                            <td>{{encabezado.proveedor.bancoproveedor}}</td>
                            <td><h4>CLABE:</h4></td>
                            <td>{{ encabezado.proveedor.clabeproveedor }}</td>
                            <td><h4>Cuenta:</h4></td>
                            <td>{{ encabezado.proveedor.cuentabanco }}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <table class="">
                    <tbody>
                        <tr>
                            <td>
                                <h4>Información del Comprador</h4>
                            </td>
                        </tr>
                    </tbody>
                </table><br>
                <table class="">
                    <tbody>
                        <tr>
                            <td><h4>Razon Social:</h4></td>
                            <td>{{ encabezado.empresaoc.razonsocial }}</td>
                            <td><h4>RFC:</h4></td>
                            <td>{{ encabezado.empresaoc.rfcempresa }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="">
                    <tbody>
                        <tr>
                            <td><h4>Factura:</h4></td>
                            <td>Gastos en general</td>
                            <td><h4> Pago: </h4></td>
                            <td> Transferencia Bancaria </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
            </div>


            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 10%">Pedido ID</th>
                        <th style="width: 10%">Cantidad</th>
                        <th>Descripcion</th>
                        <th style="width: 12%">Unitario</th>
                        <th style="width: 15%">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in detalle %}
                    <tr>
                        <td><span class="small"><center>{{ item.pedido.id }}</center></span></td>
                        <td class="numero"><center>{{ item.cantidad }}</center></td>
                        <td class="letter">{{ item.pedido.articulo }}</td>
                        <td class="numero">{{ item.pedido.divisa }} $ {{ item.pedido.precio_uni|floatformat:"2" }}</td>
                        <td class="numero">{{ item.pedido.divisa }} $ {{ item.pedido.preciotransaccion|floatformat:"2" }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><hr></td>
                        <td><hr></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><br></td>
                    <td><br></td>
            </tr>
            <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><h4>Sub Total</h4></td>
                            <td class="numero"><h4>$ {{ encabezado.sub_total|floatformat:"2" }}</h4></td>
                    </tr>
                    <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><h4>IVA</h4></td>
                            <td class="numero"><h4>$ {{ encabezado.descuento|floatformat:"2" }}</h4></td>
                    </tr>
                    <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><h4>Total</h4></td>
                            <td class="numero"><h4>$ {{ encabezado.total|floatformat:"2" }}</h4></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-header">
            <h4>Impresión generada con Ledsa FireFly el {{ today|date:"d/m/Y" }} a las {{ today|date:"H:i" }}</h4>
        </div>
    </div>
</body>
</html>