<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ledsa</title>

    <style type="text/css">
    @page {
        size: letter;
        margin: 1cm;
    }

    .table td .numero{
        text-align: left;
    }
    </style>
</head>
<body>
    <div class="container">
        <table class="">
            <tr>
                <td>
                    <div class="card-header" align="left">
                        <img src="{{encabezado.empresaoc.urllogoempresa}}">
                    </div>
                </td>
                <td>
                    <div class="card-header" align="right">
                        <h4>Orden de compra ID: {{encabezado.id}}<br>UM ID: {{ encabezado.um }} | UM: {{ encabezado.fm|date:"d/m/Y"}} - {{encabezado.fm|date:"H:i:s"}}<br>Comprador: {{ encabezado.uc }} <br> <u>{{ encabezado.autorizacion}}</u></h4>
                    </div>
                </td>
            </tr>
        </table>
        <hr/>
        <div class="card">
            <div class="list-group">
                <table class="">
                    <tbody>
                        <tr>
                            <td>
                                <h3>Información del Proveedor</h3>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <h4>Dias de credito: {{ encabezado.proveedor.diascredito }}</h4>
                            </td>
                        </tr>
                        <tr>
                            <td><h4>Razon Social:</h4></td>
                            <td>{{ encabezado.proveedor.descripcion}}</td>
                            <td><h4>RFC:</h4></td>
                            <td>{{ encabezado.proveedor.rfcproveedor }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="">
                    <tbody>
                        <tr>
                            <td><h4>Contacto:</h4></td>
                            <td>{{ encabezado.proveedor.contacto }}</td>
                            <td>{{ encabezado.proveedor.telefono}} </td>
                            <td>{{ encabezado.proveedor.email }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="">
                    <tbody>
                        <tr>
                            <td><h4>Banco</h4></td>
                            <td>{{encabezado.proveedor.bancoproveedor}}</td>
                            <td><h4>CLABE:</h4></td>
                            <td>{{ encabezado.proveedor.clabeproveedor }}</td>
                            <td><h4>Cuenta:</h4></td>
                            <td>{{ encabezado.proveedor.cuentabancoauto }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class"">
                    <tbody>
                        <tr>
                            <td><h4>Regimen fiscal:</h4></td>
                            <td>{{ encabezado.proveedor.get_regimen_display }}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <table class="">
                    <tbody>
                        <tr>
                            <td>
                                <h3>Información de Facturación</h3>
                            </td>
                            <td></td>
                            <td></td>
                            <td><h4>Uso CFDI: {{ encabezado.no_factura }}</h4></td>
                        </tr>
                        <tr>
                            <td style="width: 20%"><h4>Razon Social:</h4></td>
                            <td>{{ encabezado.empresaoc.razonsocial }}</td>
                            <td></td>
                            <td><h4>RFC: {{ encabezado.empresaoc.rfcempresa }}</h4></td>
                            <td><h4>No se recibirá material sin la factura correspondiente</h4></td>
                        </tr>
                    </table>
                    <table class="">
                        <tbody>
                            <tr>
                            <td style="width: 20%"><h4>Dirección Fiscal</h4></td>
                            <td style="width: 80%">{{encabezado.empresaoc.direccionfiscal}}</td>
                        </tr>
                        <tr>
                            <td style="width: 20%"><h4>Dirección de Entrega:</h4></td>
                            <td style="width: 80%"><u>{{encabezado.empresaoc.direccionentrega}}</u></td>
                        </tr>
                        <tr>
                            <td style="width: 20%"><h4>Fecha de Entrega:</h4></td>
                            <td style="width: 80%">{{encabezado.fecha_compra}}</td>
                        </tr>
                        </tbody>
                    </table>
                <hr>
            </div>


            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 7%">Pedido ID</th>
                        <th style="width: 8%">Cantidad</th>
                        <th style="width: 11%">Proceso</th>
                        <th>Articulo</th>
                        <th style="width: 5%">IVA</th>
                        <th style="width: 12%">Unitario</th>
                        <th style="width: 15%">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in detalle %}
                    <tr>
                        <td><span class="small"><center><small>|{{ item.pedido.id }}|</small></center></span></td>
                        <td class="numero"><center>{{ item.cantidad|floatformat:2 }} {{ item.pedido.UniMed }}</center></td>
                        <td class="numero"><center>|<small>{{ item.pedido.proceso }}</small>|</center></td>
                        <td class="letter">{{ item.pedido.motivo_peticion }}</td>
                        <td class="letter"><center>{{ item.pedido.iva }}</center></td>
                        <td class="numero">{{ item.pedido.divisa }} $ {{ item.pedido.precio_uni|floatformat:2 }}</td>
                        <td class="numero">{{ item.pedido.divisa }} $ {{ item.pedido.preciotransaccion|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><hr></td>
                        <td><hr></td>
                        <td><hr></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><br></td>
                    <td><br></td>
            </tr>
            <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><h4>Sub Total</h4></td>
                            <td class="numero"><h4>$ {{ encabezado.sub_total|floatformat:2 }}</h4></td>
                    </tr>
                    <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><h4>IVA</h4></td>
                            <td class="numero"><h4>$ {{ encabezado.descuento|floatformat:2 }}</h4></td>
                    </tr>
                    <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><h4>Total</h4><hr></td>
                            <td class="numero"><h4>$ {{ encabezado.total|floatformat:2 }}<hr></h4></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <br>
            {{ encabezado.observacion }}
        </div>
        <hr>
        <table>
            <tr>
                <td> <little>
                    <b>Autenticidad: </b>El QR deberá llevar al dominio <b>firefly.ledsa.mx</b> y devolver un PDF con la misma información de esta impresión.
                    <br>
                    <b>Última Verificación:</b> {{ today|date:"d/m/Y - H:i:s" }} <br><b>Verificador:</b> {{ encabezado.clienteuniqueid }}
                    <br><b>Dominio Validador:</b> firefly.ledsa.mx
                    <br><br><b><u> {{ encabezado.autorizacion}}</u></b>
                </td>
                <td align="left" valign="top"><img src="https://chart.googleapis.com/chart?chs=132x132&cht=qr&chl=https://firefly.ledsa.mx/cmp/ordencompra/{{encabezado.clienteuniqueid}}/oc"></td>
            </tr>
        </table>
    </div>
</body>
</html>