{% load humanize %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ledsa</title>

    <style type="text/css">
    @page {
        size: letter;
        margin: 1cm;
    }

    .table td .numero{
        text-align: left;
    }
    </style>
</head>
<body>
    <div class="container">
        <table class="">
            <tr>
                <td>
                    <div class="card-header" align="left">
                        <img src="{{encabezado.empresaoc.urllogoempresa}}">
                    </div>
                </td>
                <td style="width: 40%">
                    
                </td>
                <td align="right">
                        <img src="https://api.qrserver.com/v1/create-qr-code/?data=https://firefly.ledsa.mx/cmp/ordencompra/public/{{encabezado.clienteuniqueid}}&size=90x90">
                </td>
                <td style="width: 1%">
                    
                </td>
                <td>
                    {% if encabezado.autorizacion != "OC: Editando - Incompleta" and encabezado.autorizacion != "OC: Autorización en Revisión" %}
                    <b>Orden de compra ID:</b> {{encabezado.id}}<br><b>Impresión:</b> {{ today|date:"d/m/Y - H:i" }}<br><b>Comprador:</b> {{ encabezado.uc }}<br><u>{{ encabezado.autorizacion}}</u><br><br><b>Verifica OC con el QR **</b></h4>
                </td>
            </tr>
        </table>
                    {% else %}
                    <h4>Orden de compra ID: {{encabezado.id}}<br>Impresión: {{ today|date:"d/m/Y - H:i" }}<br>Comprador: {{ encabezado.uc }}<br>{{ encabezado.autorizacion}}<br><br><b>Verifica OC con el QR **</b></h4>
                </td>
            </tr>
        </table>
                <div align="center">
                    <br><hr><h1>La OC aun no está autorizada</h1>
                </div>
            {% endif %}
        <hr/>
        <div class="card">
            <div class="list-group">
                <table class="">
                    <tbody>
                        <tr>
                            <td><h3>Información del Proveedor</h3></td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="width: 11%"><h4>Razon Social:</h4></td>
                            <td style="width: 38%">{{ encabezado.proveedor.descripcion}}</td>
                            <td style="width: 6%"><h4>RFC:</h4></td>
                            <td style="width: 25%">{{ encabezado.proveedor.rfcproveedor }}</td>
                            <td style="width: 12%"><b>Dias de credito:</b></td>
                            <td align="left">{{ encabezado.proveedor.diascredito }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="">
                    <tbody>
                        <tr>
                            <td style="width: 11%"><h4>Banco</h4></td>
                            <td style="width: 38%">{{encabezado.proveedor.bancoproveedor}}</td>
                            <td style="width: 6%"><h4>CLABE:</h4></td>
                            <td style="width: 25%">{{ encabezado.proveedor.clabeproveedor }}</td>
                            <td style="width: 12%"><h4>Cuenta:</h4></td>
                            <td align="left">{{ encabezado.proveedor.cuentabancoauto }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="">
                    <tbody>
                        <tr>
                            <td style="width: 11%"><h4>Contacto:</h4></td>
                            <td style="width: 38%">{{ encabezado.proveedor.contacto }}</td>
                            <td style="width: 6%"><h4>Email:</h4></td>
                            <td style="width: 25%">{{ encabezado.proveedor.email }}</td>
                            <td style="width: 12%"><h4>Telefono:</h4></td>
                            <td align="left">{{ encabezado.proveedor.telefono}} </td>
                        </tr>
                    </tbody>
                </table>
                <table class"">
                    <tbody>
                        <tr>
                            {% if encabezado.proveedor.get_regimen_display == "Revisar datos del proveedor" %}
                            <hr><td align="center" ><b><h1>Se necesita verificar y actualizar el régimen fiscal del proveedor</h1></b></td>
                            {% else %}
                            <td style="width: 11%"><h4>Regimen fiscal:</h4></td>
                            <td align="left" >{{ encabezado.proveedor.get_regimen_display }}</td>
                            <td></td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
                <hr>
                <table class="">
                    <tbody>
                        <tr>
                            <td align="left">
                                <h3>Información de Facturación</h3>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="width: 17%"><h4>Razon Social:</h4></td>
                            <td style="width: 53%">{{ encabezado.empresaoc.razonsocial }}</td>
                            <td style="width: 14%"><h4>RFC:</h4></td> 
                            <td align="left">{{ encabezado.empresaoc.rfcempresa }}</td>
                        </tr>
                        <tr>
                            <td style="width: 17%"><h4>Dirección Fiscal</h4></td>
                            <td style="width: 53%">{{encabezado.empresaoc.direccionfiscal}}</td>
                            <td style="width: 14%"><h4>Uso CFDI:</h4></td>
                            <td align="left">{{ encabezado.no_factura }}</td>
                        </tr>
                        <tr>
                            <td style="width: 17%"><h4>Dirección de Recepción:</h4></td>
                            <td style="width: 53%">{{encabezado.empresaoc.direccionentrega}}</td>
                            <td style="width: 14%"><h4>Fecha de Recepción:</h4></td>
                            <td align="left">{{encabezado.fecha_compra}}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
            </div>


            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 10%">Pedido ID</th>
                        <th style="width: 12%">Cantidad</th>
                        <th style="width: 46%">Articulo</th>
                        <th style="width: 10%">IVA</th>
                        <th style="width: 11%">Unitario</th>
                        <th style="width: 11%">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in detalle %}
                    <tr>
                        <td align="center">{{ item.pedido.id }}</td>
                        <td class="numero" align="center">{{ item.cantidad|floatformat:2|intcomma }} {{ item.pedido.UniMed }}</td>
                        <td class="letter">{{ item.pedido.motivo_peticion }}</td>
                        <td class="letter" align="center">{{ item.pedido.iva }}</td>
                        <td class="numero">{{ item.pedido.divisa }} $ {{ item.pedido.precio_uni|floatformat:2|intcomma }}</td>
                        <td class="numero">{{ item.pedido.divisa }} $ {{ item.pedido.preciotransaccion|floatformat:2|intcomma }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><hr></td>
                        <td><hr></td>
                        <td><hr></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td style="width: 78%"></td>
                        <td style="width: 11%"><br></td>
                        <td style="width: 11%"><br></td>
                    </tr>
                    <tr>
                        <td style="width: 78%"></td>
                        <td style="width: 11%"><h4>Sub Total:</h4></td>
                        <td style="width: 11%" class="numero"><h4>$ {{ encabezado.sub_total|floatformat:2|intcomma }}</h4></td>
                    </tr>
                    <tr>
                        <td style="width: 78%"></td>
                        <td style="width: 11%"><h4>IVA:</h4></td>
                        <td style="width: 11%" class="numero"><h4>$ {{ encabezado.descuento|floatformat:2|intcomma }}</h4></td>
                    </tr>
                    <tr>
                        <td style="width: 78%"></td>
                        <td style="width: 11%"><h4>Total:</h4><hr></td>
                        <td style="width: 11%" class="numero"><h4>$ {{ encabezado.total|floatformat:2|intcomma }}<hr></h4></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <br>
            {{ encabezado.observacion }}
        </div>
        <hr>
        <table>
            <tr>
                <td>
                    * No se recibirá material sin la factura correspondiente.
                    <br>** Verifique la autorización de la OC así como la recepción de los artículos escaneando el QR.
                    <br>** El QR debe mostrar datos dentro del subdominio <b>firefly.ledsa.mx</b>
                    <br><b>El proveedor tiene la responsabilidad de corroborar que la información es correcta.</b>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>