<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="author" content="Oscar Reyes León">
  <link rel="shortcut icon" type="image/png" href="/static/base/img/firefly.png"/>
  <title>Ledsa FireFly</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
</head>

<div class="card">
  <div class="card-header">
    <table class="">
      <tr>
          <td>
              <div class="card-header" align="left">
                  <img src="{{obj.empresaoc.urllogoempresa}}">
              </div>
          </td>
          <td>
              <div class="card-header" align="right">
                  <h6>Orden de compra ID: {{obj.id}}<br>
                    UM ID: {{ obj.um }} | UM: {{ obj.fm|date:"d/m/Y"}} - {{obj.fm|date:"H:i:s"}}<br>
                    Comprador: {{ obj.uc }} <br> 
                    {% if obj.autorizacion == "OC: Editando - Incompleta" %}
                  </h6><h1><u><b><p style="color:red;">{{ obj.autorizacion}}</p></b></u></h1>
                    {% elif obj.autorizacion == "OC: Autorización en Revisión" %}
                  </h6><h1><u><b><p style="color:orangered;">{{ obj.autorizacion}}</p></b></u></h1>
                    {% else %}
                    <u><b><p style="color:green;">{{ obj.autorizacion}}</p></b></u></h6>
                    {% endif %}
              </div>
          </td>
      </tr>
    </table>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <h6>Proveedor:  {{obj.proveedor.descripcion}}</h6>
        <h6>RFC: {{obj.proveedor.rfcproveedor}}</h6>
        <h6>Fecha de entrega: {{obj.fecha_compra}}</h6>
      </div>
      <div class="col-6">
        <h6>Subtotal: $ {{ obj.sub_total|floatformat:"2" }} </h6>
        <h6>IVA: $ {{ obj.descuento|floatformat:"2" }} </h6>
        <h6>Total: $ {{ obj.total|floatformat:"2" }} </h6>
        
        {% if obj.autorizacion != "OC: Editando - Incompleta" and obj.autorizacion != "OC: Autorización en Revisión" %}
          <a href="{% url 'cmp:compras_print_client' obj.clienteuniqueid %}" target="_blank" class="btn btn-info btn-circle" role="button"><i class="fa fa-box-open"></i>Generar PDF</a>
        {% endif %}
      </div>
      <div class="col-12">
        <hr>
        <div class="table-responsive">
          <table id="export" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
            <thead>
              <tr>
                <th>Pedido</th>
                <th>Cantidad</th>
                <th>Articulo</th>
                <th>Unitario</th>
                <th>Total</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for item in detalle %}
                <tr>
                  <td>{{item.pedido.id}}</td>
                  <td>{{item.cantidad}} {{item.pedido.UniMed}}</td>
                  <td>{{item.pedido.motivo_peticion}}</td>
                  <td>{{ item.pedido.divisa }} $ {{ item.pedido.precio_uni|floatformat:"2" }}</td>
                  <td>{{ item.pedido.divisa }} $ {{ item.pedido.preciotransaccion|floatformat:"2" }}</td>
                  <td>{{ item.pedido.status }}</td>
                </tr>  
              {% endfor %}
            </tbody>
          </table>
          <hr>
          <b>URL para enviar a proveedor:</b> </br> https://firefly.ledsa.mx/cmp/ordencompra/public/{{ obj.clienteuniqueid }}
  

          
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script>
	$(document).ready(function() {
	    var table = $('#export').DataTable( {
          "rowCallback": function(row, data, index){
          if(data[5] != 'Recibido'){
          $(row).find('td:eq(0)').css('backgroundColor', 'orange');
          $(row).find('td:eq(0)').css('color', 'red');
        	$(row).find('td:eq(5)').css('backgroundColor', 'orange');
        	$(row).find('td:eq(0)').css('color', 'red');
        	$(row).find('td:eq(1)').css('color', 'red');
        	$(row).find('td:eq(2)').css('color', 'red');
        	$(row).find('td:eq(3)').css('color', 'red');
        	$(row).find('td:eq(4)').css('color', 'red');
        	$(row).find('td:eq(5)').css('color', 'red');

        }
        else{
          $(row).find('td:eq(0)').css('backgroundColor', 'green');
          $(row).find('td:eq(5)').css('backgroundColor', 'green');
        	$(row).find('td:eq(0)').css('color', 'blue');
        	$(row).find('td:eq(1)').css('color', 'green');
        	$(row).find('td:eq(2)').css('color', 'green');
        	$(row).find('td:eq(3)').css('color', 'green');
        	$(row).find('td:eq(4)').css('color', 'green');
        	$(row).find('td:eq(5)').css('color', 'blue');
        }
        },
          "order": [[ 5, 'asc' ], [ 0, 'desc' ]],
//	        lengthChange: true,
          lengthMenu: [500, 1000],
	    } );
	 
	    table.buttons().container()
	        .appendTo( '#export_wrapper .col-md-6:eq(0)' );
    	} );
      
     </script>
        </div>
      </div>
    </div>
  </div>
</div>
</html>