{% extends 'layouts/partial/list_base.html' %}
{% load humanize %}

{% block contenidoTabla %}
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.state }}</td>
            {% include 'layouts/partial/accion_list_base.html' %}
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}

